{% load static %}

<div>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table id="tabela" style="width:100%" class="table table-striped table-sm table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">Número</th>
                            <th class="text-center">Nome</th>
                            <th class="text-center">Preço</th>
                            <th class="text-center">Estoque</th>
                            <th class="text-center">Remover</th>
                        </tr>
                    </thead>
                    <tbody id="tbody2">
                        {% for item in produtos_no_carrinho %}
                            <tr>
                                <td width="10%" class="text-center id">
                                    {{ item.produto.id }}
                                </td>
                                <td width="35%">
                                    {{ item.produto.nome }}
                                </td>
                                <td width="15%" class="text-center">
                                    {{ item.produto.preco }}
                                </td>
                                <td width="15%" class="text-center">
                                    <form class="mx-auto" style="width: 60px;" action ="{% url 'carrinho:atualiza_qtd_carrinho' %}"
                                          method ="POST" novalidate>
                                        {% csrf_token %}
                                        {{ item.form.estoque }}
                                    </form>
                                </td>
                                <td width="10%" class="text-center">
                                    <form style="margin-bottom: 0px;"
                                          action ="{% url 'carrinho:remove_produto_carrinho' %}"
                                          method ="post" novalidate>
                                        {% csrf_token %}
                                        <button style="margin-top: 0px; margin-bottom: 0px; padding-top: 3px; padding-bottom: 3px;"
                                                type="button" class="btn btn-sm btn-danger btn-remove">
                                            <img src="{% static 'carrinho/images/skin/database_delete.png' %}">
                                            Remover
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            {%  if valor_do_carrinho > 0 %}
                            <td colspan="4" width="90%" class="text-left">
                                <strong style="margin-left: 10px;">Total do carrinho:</strong>
                            </td>
                            <td width="10%" class="text-right">
                                <strong id="valor-do-estoque">{{ valor_do_carrinho }}</strong>
                            </td>
                            {% else %}
                                <td colspan="4" width="90%" class="text-left">
                                <strong style="margin-left: 10px;">Carrinho Vazio! Que tal ir às <a href="{% url 'produtos' %}">compras?</a></strong>
                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>